@import "tailwindcss";

:root {
  --background: linear-gradient(158deg,rgba(240, 240, 240, 0.79) 29%, rgba(250, 255, 237, 0.76) 71%);
  --foreground: #1D2E5C;
  --navbackground: #ffffff6d;
  --buttonbg: #3D63DD;
  --cardbg: #ffffff6a;
  --cartbg: #fffffffd;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: linear-gradient(158deg,rgba(7, 0, 34, 0.79) 29%, rgba(0, 0, 0, 0.76) 71%);
  --navbackground: #00b3ff2e;
  --foreground: #ffffff;
  --buttonbg: #0090FF;
  --cardbg: #00000f56;
  --cartbg: #34345cfc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}